* {
    margin: 0;
    padding: 0;
}

/*@media (max-width: 1080px) {
    
}
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: darkolivegreen;
}


.slider {
    width: 40rem;
    height: 30rem;
    overflow: hidden;
    border: 0.1rem solid white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content {
    width: 400%;
    height: 22rem;
    display: flex;
    flex-direction: row;
}

.navigation {
    width: 10rem;
    height: 3.75rem;
    border: 0.3rem solid black;
    display: flex;
    justify-content: right;
    
}

.meme-description {
    width: 30rem;
    height: 3.75rem;
    display: flex;
    justify-content: start;
    border: 0.3rem solid blue;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: lightblue;
    margin-right: 1rem;
    cursor: pointer;
    opacity: 70%;
}

.bar:hover {
    opacity: 0.8;
    background-color: white;
    transform:scale(1.1);
}

input[name="button"] {
    
    display: none;
}

.img-content {
    display: flex;
    max-width: 40rem;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}


.img-content img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

#rd1:checked ~ .rd1{
    margin-left: 0;
    transition: all 1s ease;
}

#rd2:checked ~ .rd1 {
    margin-left: -25%;
    transition: all 1s ease;
}

#rd3:checked ~ .rd1 {
    margin-left: -50%;
    transition: all 1s ease;
}

#rd4:checked ~ .rd1 {
    margin-left: -75%;
    transition: all 1s ease;
}